@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,200&display=swap');
* {
  box-sizing: 0px;
  border-width: inherit;
  border-color: initial;
  border-image: inherit;
  list-style: none;
  margin: 0px;
  outline: 0px;
  padding: 0px;
  text-decoration: none;
}

:root {
  --color-bg: #000000e9;
  ---color-bg-variant: #363636ac;
  --color-primary: #d12424f6;
  --color-primary-variant: rgba(49,49,49,.477);
  --color-white: #fff;
  --color-light: hsla(0,0%,100%,.6);
  --swiper-theme-color: #007aff;
  --transition: all 400ms ease;
  --container-width-lg: 75%;
  --container-width-md: 86%;
  --container-width-sm: 90%;
}

html{
  scroll-behavior:smooth;
}

::-webkit-scrollbar {
  display: none;
}
section {
  margin-top: 8rem;
}
section > h2,
section > h5 {
  color: var(--color-light);
  text-align: center;
}
section {
  display: block;
}
h5 {
  display: block;
  font-size: 0.83em;
  margin-block-start: 1.67em;
  margin-block-end: 1.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
section > h2 {
  color: var(--color-primary);
  margin-bottom: 3rem;
  text-align: center;
}

/* Header Start */
header {
  height: 100vh;
  padding-top: 0;
  overflow: hidden;
}
.container {
  width: var(--container-width-lg);
  margin: 0px auto;
}
.header_container {
  height: 100%;
  position: relative;
  text-align: center;
}
h1, h3, h4, h5 {
  font-weight: 500;
}
.text {
  font-size: 1rem;
  margin-top: 4rem;
}
h1 {
  font-size: 2.5rem;
  margin-top: 20px;
}
.text-light {
  color: var(--color-light);
  margin-top: 20px;
}
.cta {
  display: flex;
  justify-content: center;
  margin-top: 2.5rem;
  gap: 1.2rem;
}
.btn {
  color: var(--color-primary);
  cursor: pointer;
  display: inline-block;
  width: max-content;
  border: 1px solid var(--color-primary);
  border-radius: .4rem;
  padding: 0.75rem 1.2rem;
  transition: var(--transition);
}
.btn:hover {
  background: var(--color-white);
  border-color: transparent;
  color: var(--color-bg);
}
.btn-primary {
  background: var(--color-primary);
  color: var(--color-bg);
}
  /* Socials */
.header_socials {
  align-items: center;
  bottom: 4rem;
  display: flex;
  flex-direction: column;
  left: 0;
  position: absolute;
  gap: 0.8rem;
}
.header_socials::after {
  content: "";
  width: 1px;
  height: 2rem;
  background: var(--color-primary);
}
a {
  color: var(--color-primary);
  transition: all .4s ease;
  transition: var(--transition);
}
a:hover {
  color: var(--color-white);
}
.me {
  position: absolute;
  height: 20rem;
  left: calc(50% - 11.5rem);
  margin-top: 3rem;
  width: 20rem;
  background: linear-gradient(var(--color-primary), transparent);
  border-radius: 4rem 4rem 0px 0px;
  overflow: hidden;
  padding: 3rem 1.5rem 1.5rem;
}
  /* Scroll */
.scroll_down {
  bottom: 6rem;
  font-size: 0.9rem;
  font-weight: 30;
  right: -2.3rem;
  transform: rotate(90deg);
  position: absolute;
}
/* Header End */

/* Nav Start */
nav {
  display: flex;
  backdrop-filter: blur(15px);
  bottom: 2rem;
  left: 50%;
  position: fixed;
  transform: translate(-50%);
  width: max-content;
  z-index: 2;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 3rem;
  gap: 0.8rem;
  padding: 0.7rem 1.7rem;
  
}
nav a {
  display: flex;
  background: transparent;
  font-size: 1.1rem;
  border-radius: 50%;
  padding: 0.9rem;
  border-radius: 50%;
  color: var(--color-light);
}
nav a:hover {
  background: rgba(0, 0, 0, 0.5);
}
nav a.active {
  color: var(--color-bg);
  background: var(--color-primary);
}
a {
  transition: var(--transition);
}
/* Nav End */

/* About Start*/
.about_container {
  display: grid;
  grid-template-columns: 35% 50%;
  gap: 15%;
}
.about_me {
  aspect-ratio: 1/1;
  display: grid;
  width: 100%;
  background: linear-gradient(45deg, transparent, var(--color-primary), transparent);
  border-radius: 2rem;
  place-items: center;
}
.about_me-image {
  transform: rotate(10deg);
  border-radius: 2rem;
  overflow: hidden;
  transition: var(--transition);
}
.about_me-image:hover {
  transform: rotate(0);
}
img {
  display: block;
  object-fit: cover;
  width: 100%;
}
.about_cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}
.about_card {
  text-align: center;
  background: var(---color-bg-variant);
  border: 1px solid transparent;
  border-radius: 1rem;
  padding: 2rem;
  transition: var(--transition);
}
.about_card:hover {
  background: transparent;
  border-color: var(--color-primary-variant);
  cursor: default;
}
.about_card h5 {
  font-size: 0.9rem;
}
.about_card small {
  color: var(--color-light);
  font-size: 0.7rem;
}
.about_icon {
  color: var(--color-primary);
  font-size: 1.4rem;
  margin-bottom: 1rem;
}
.about_content p {
  color: var(--color-light);
  margin: 2rem 0px 2.6rem;
}
  /*medium devices*/
@media screen and (max-width: 1024px){
  .about_container{
      grid-template-columns: 1fr;
      gap: 0;
  }
  .about_me{
      width: 50%;
      margin: 2rem auto 4rem;
  } 
  .about_content p{
      margin: 1rem 0 1.5rem;
  }
}
    /*small devices*/
@media screen and (max-width: 600px){
    .about_me {
        width: 65%;
        margin:0 auto 3rem ;
    }
    .about_cards {
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
      }
  .about_content{
      text-align:center
  }
  .about_content p{
      margin: 1.5rem 0 ;       
  }
}
  /* Experience Start */
.experience_container {
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr 1fr;
}
.experience_container > div {
  background: var(---color-bg-variant);
  border: 1px solid transparent;
  border-radius: 2rem;
  padding: 2.4rem 5rem;
  transition: var(--transition);
}
.experience_container>div:hover {
  background: transparent;
  border-color: var(--color-primary-variant);
  cursor: default
}
.experience_container > div h3 {
  color: var(--color-primary);
  margin-bottom: 2rem;
  text-align: center;
}
.experience_content {
  display: grid;
  grid-row-gap: 2rem;
  grid-template-columns: 1fr 1fr;
  row-gap: 2rem;
}
.experience_details {
  display: flex;
  gap: 1rem;
}
.experience_details-icon {
  color: var(--color-primary);
  margin-top: 6px;
}
  /* Media */
/*medium devices*/
@media screen and (max-width: 1024px){
  .experience_container {   
   grid-template-columns: 1fr;
}
.experience_container > div{
    width: 80%;
    padding: 2rem;
    margin: 0 auto;
}
.experience_content {
    padding: 1rem;
}
}
    /*small devices*/
@media screen and (max-width: 600px){
    .experience_container{
        gap: 1rem;
    } 
    .experience_container > div {
        width:  100%;
        padding: 2rem 1rem;
    }
}
  /* Experience End */
  /* Services Start */
.services_container {
  display: grid;
  gap: 13rem;
  grid-template-columns: repeat(3,1fr);
}
.services {
  background: var(---color-bg-variant);
  border: 1px solid var(--color-primary-variant);
  border-radius: 2rem 2rem 2rem 2rem;
  height: fit-content;
  transition: var(--transition);
  width: 400px;
}
.services:hover {
  background: transparent;
  border-color: var(--color-primary-variant);
  cursor: default
}
.services_head {
  background: var(--color-primary);
  border-radius: 2rem 2rem 2rem 2rem;
  box-shadow: 0.2rem 1rem rgba(0, 0, 0, .1);
  padding: 2rem;
}
.services_head h3 {
  color: var(--color-bg);
  font-size: 1rem;
  text-align: center;
}
.services_list {
  padding: 2rem;
}
.services_list li {
  display: flex;
  gap: 1rem;
  margin-bottom: 0.8rem;
}
.service_lis-icon {
  color: var(--color-primary);
  margin-top: 2px;
}
.services_list p {
  font-size: .9rem;
}
  /* Media */
/*medium devices*/
@media screen and (max-width: 1024px){
  .services_container{
      grid-template-columns: 1fr;
      gap: 2rem;
  }
  .services{
      height: auto;
  }
}
    /*small devices*/
@media screen and (max-width: 600px){
.services_container{
  grid-template-columns: 1fr;
  gap: 1.5rem;
}
.services {
  width: 300px;
  margin-left: 2rem;
} 
}
  /* Services End */
  /* Portfolio */
.portfolio_container {
  display: grid;
  gap: 2.5rem;
  grid-template-columns: repeat(3,1fr);
}
.portfolio_item {
  background: var(---color-bg-variant);
  border: 1px solid transparent;
  border-radius: 2rem;
  padding: 1.3rem;
  transition: var(--transition);
}
.portfolio_item:hover {
  background: transparent;
  border-color: var(--color-primary-variant)
}
.portfolio_item-image {
  border-radius: 2rem;
  overflow: hidden;
}
.portfolio_item h3 {
  margin: 1.2rem 0 2rem;
}
.portfolio_item-cta {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}
  /* Media */
/*medium devices*/
@media screen and (max-width: 1024px){
  .portfolio_container{
      grid-template-columns: 1fr 1fr;
      gap: 1.2rem;
  }
 }
     /*small devices*/
 @media screen and (max-width: 600px){ 
   .portfolio_container{
       grid-template-columns: 1fr;
       gap: 1rem;
   }
 }
  /* Portfolio End */
  /* Testimonials */
.testimonials_container {
    max-width: 80%;
    display: flex;
    justify-content: center;
}
.testimonial {
  align-items: center;
  background: rgba(80,67,67,.858);
  text-align: center;
  padding: 2rem;
  width: 40%;
  border-radius: 2rem;
  user-select: none;
}
.client_name {
  font-weight: 800;
  font-size: 1em;
  color: #fff;

}
.client_image {
  aspect-ratio: 1/1;
  border: .3rem solid var(--color-primary-variant);
  border-radius: 50%;
  margin: 0 auto 1rem;
  overflow: hidden;
  width: 5rem
}
.client_review {
  color: var(--color-light);
  display: block;
  font-weight: 300;
  margin: .8rem auto 0;
  width: 80%;
}
  /* Media */
  /*medium devices*/
@media screen and (max-width: 1024px){
.testimonials_container{
      width: 60%;
  }
}
    /*small devices*/
@media screen and (max-width: 600px){
.testimonials_container {
       width: var(--container-width-sm);
   }
  .client_review {
      width: var(--container-width-sm);
  }
}
  /* Testimonies End */
  /* Contact Start*/
.container.contact_container {
  display: grid;
  grid-template-columns: 30% 58%;
  width: 58%;
  gap: 12%;
}
.container {
  margin: 0px auto;
}
.contact_options {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  }
.contact_option {
  text-align: center;
  background: var(---color-bg-variant);
  border: 1px solid transparent;
  border-radius: 1.2rem;
  transition: var(--transition);
}
.contact_option:hover {
  background: transparent;
  border-color: var(--color-primary-variant)
}
.contact_option-icon {
  font-size: 1.5rem;
  margin-top: 0.9rem;
  }
.contact_option a {
  display: inline-block;
  font-size: 0.9rem;
}
h4 {
  font-weight: 500;
}
.contact_options h5 {
  color: var(--color-light);
}
h5 {
    color: var(--color-light);
}
.contact_option a {
  display: inline-block;
  font-size: 0.9rem;
  margin-bottom: 15px;
}
a {
  color: var(--color-primary);
  transition: var(--transition);
}
form {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  }
input, textarea {
  color: var(--color-white);
  resize: none;
  width: 100%;
  background: transparent;
  border: 2px solid var(--color-primary-variant);
  border-radius: 0.5rem;
  padding: 1.5rem;
}
  /* Media */
  /*medium devices*/
@media screen and (max-width: 1024px){
  .container.contact_container{
      grid-template-columns: 1fr;
      gap: 2rem;
  }
}
    /*small devices*/
@media screen and (max-width: 600px){
  .container.contact_container{
      width: var(--container-width-sm);
  }
}
  /* Contact End */
  /* Footer Start */
footer {
  font-size: 0.9rem;
  margin-top: 7rem;
  text-align: center;
  background: linear-gradient(var(--color-primary), transparent);
  padding: 3rem 0px;
}
.footer_logo {
  display: inline-block;
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 2rem;
}
footer a {
  color: var(--color-bg);
}
.permalinks {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  margin: 0px auto 3rem;
}
.footer_socials {
  margin-bottom: 4rem;
  gap: 1rem;
  display: flex;
  justify-content: center;
}
.footer_socials a {
  color: var(--color-white);
  display: flex;
  background: black;
  border: 1px solid transparent;
  border-radius: 0.7rem;
  padding: 0.8rem;
}
.footer_socials a:hover {
  background: transparent;
  border-color: var(--color-bg);
  color: var(--color-bg)
}
.footer_copyrights {
  color: var(--color-bg);
  margin-bottom: 4rem;
  font-size: 1.2rem;
}
small {
  font-size: smaller;
}
  /* Media */
  @media screen and (max-width: 600px){
    .permalinks{
        flex-direction: column;
        gap: 1.5rem;
    }
    .footer_socials{
        margin-bottom: 2.6rem;
    }
}
  /* Footer End */